


.alert {
  width: 450px;
  height: 145px;
  margin-left: 29%;
  margin-right: 2%;
  margin-top: 1%;
}

.alert-heading {
  text-align: center;  
}
.alert-legend {
  text-align: center;  
}

.alert-sublegend {
  text-align: center;
  font: 15px Arial, sans-serif;
  font-weight: bold
}

.list-group-item.active {
  background-color: none;
}






