
.form {
  max-width: 330px;
  padding-top: 115px;
  margin: auto;
}

.carSubmission {
  left:33px;
  right:33pc;
  width: 200px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;

}

.css-b62m3t-container {
    width:  200px;
    padding-bottom: 10px;
    padding-top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    left: 33px;
}
